<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean id="customerId" class="com.training.spring.Customer" scope="prototype">
        
    	<property name = "email" value = "abc@mail.com"/> <!-- Setter injection -->
        <constructor-arg type="int" value="23"/> <!-- Constructor injection -->
        <!-- <property name="account" ref="accountId"/> --> <!-- Setter injection with reference to another bean -->
    </bean>
    
    <bean id="accountId" class="com.training.spring.Account" scope="prototype">
    	<property name = "accountNumber" value = "1234"/> <!-- Setter injection -->
        <property name = "accountType" value = "Savings"/> <!-- Setter injection -->
        <property name = "balance" value = "10000"/> <!-- Setter injection -->
    </bean>
                       
</beans>           